version: "3.9"

services:
  mongo:
    image: mongo:7
    volumes:
      - mongo-data:/data/db

  backend:
    image: tew56789/todo-backend:latest
    ports:
      - "5000:5000"
    environment:
      MONGO_URL: mongodb://mongo:27017/todo
    depends_on:
      - mongo

  frontend:
    image: tew56789/todo-frontend:latest
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  mongo-data:
