services:
  mongo:
    image: mongo:7
    restart: always
    volumes:
      - mongo-data:/data/db

  backend:
    image: yourdockerhub/backend:latest
    ports:
      - "5000:5000"
    environment:
      MONGO_URL: mongodb://mongo:27017/todo
    depends_on:
      - mongo

  frontend:
    image: yourdockerhub/frontend:latest
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  mongo-data:
