name: CI/CD Docker Build & Push

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push Backend
        run: |
          docker build -t yourdockerhub/todo-backend ./backend
          docker push yourdockerhub/todo-backend

      - name: Build & Push Frontend
        run: |
          docker build -t yourdockerhub/todo-frontend ./frontend
          docker push yourdockerhub/todo-frontend
